body {
    font-family: "Cairo Play", sans-serif;
    text-align: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 18px;
}

header {
    flex-grow: 0;
    /* padding-bottom: 2em; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    flex-grow: 1;
    background: aqua;
}

footer {
    flex-grow: 0;  
}

button {
    border: 1px solid lightgrey;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    padding-right: 6px;
    padding-left: 6px;
}

menu {
    list-style-type: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.removed {
    display: none;
}

.bg-grey {
    background: grey;
}

.bg-red {
    background: red;
}

.bg-orange {
    background: orange;
}

.bg-purple {
    background: purple;
}

.bg-green {
    background: green;
}



/* * {
.figure {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
}

.image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
}



.link {
  color: #aaa;
}

.menuItem {
  padding: 10px;
  margin: 0 auto;
  color: #ccc;
}

.radioButton {
  margin-right: 5px;
}

small + small {
  text-align: right;
} */
